Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('city.csv')

In [ ]:
df.head(5)

In [ ]:
df.dtypes

In [ ]:
df['id'] = df['id'].astype('float64')

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/World_population'
tables = pd.read_html(url)

len(tables)

df = tables[5]
df.head()

In [ ]:
df_new = df['id']<25

In [ ]:
df_new.shape

In [ ]:
type(tables)

In [ ]:
df_new = df[df['id'] < 25]
df_new.shape

# Extra

In [ ]:
pip install ydata-profiling

In [ ]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
# import tqdm as notebook_tqdm
# load the data
df = pd.read_excel("./dataframes/titanic_df.xlsx")
profile = ProfileReport(df, title="Titnaic Profiling Report")
profile.to_file("./ydataprofile_reports/01_titanic_report.html")

In [ ]:
pip install dataprep

In [ ]:
from dataprep.datasets import load_dataset
from dataprep.eda import create_report
df = load_dataset("titanic")
create_report(df).show_browser()

Seaborn

In [ ]:
# prompt: built in datasets of seaborn

import seaborn as sns
print(sns.get_dataset_names())