# Four dimension for EDA

1. Composition
2. Distribution
3. Comparison
4. Relationship

In [ ]:
# import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load the data
df = sns.load_dataset('titanic')
df.head()

# Composition

In [ ]:
df.shape
# print the number of rows and columns using f string
print(f"No. of Rows: {df.shape[0]}\nNo. of Columns: {df.shape[1]}")

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.head()
df['sex'].value_counts()

In [ ]:
# total number of rows
len(df)

In [ ]:
# find values count percentage for sex column
# df["sex"].value_counts() / len(df) * 100
# round the percentage to 2 decimal places
# round(number, decimal places)
round(df["sex"].value_counts() / len(df) * 100, 2)

In [ ]:
class_counts = round(df["class"].value_counts() / len(df) * 100, 2)
# sort the values in descending order
class_counts.sort_values(ascending=False)

In [ ]:
# find the value counts in percentage for class where sex == female
df_females = df[df["sex"]=="female"]
df_females["class"].value_counts() / len(df) * 100

In [ ]:
# group by class and find the percentage of each class for sex column
df.groupby(['sex', 'class']).size() / len(df) * 100
round(df.groupby(['sex', 'class']).size() / len(df) * 100, 2).sort_values(ascending=False)

In [ ]:
round(df.groupby(['sex', 'class', 'embarked']).size() / len(df) * 100, 2)

In [ ]:
round(df.groupby(['sex', 'class', 'embarked', 'fare']).size() / len(df) * 100, 2)

In [ ]:
df['sex'].describe()

# Distribution

In [ ]:
df["age"].describe()

In [ ]:
df['age'].plot(kind='hist')

In [ ]:
df['age'].describe()

In [ ]:
df['fare'].plot(kind='hist')

In [ ]:
df['age'].plot(kind='box')

In [ ]:
df['age'].skew()

In [ ]:
df['fare'].skew()

# Comparison

In [ ]:
df.groupby(['sex', 'who', 'class'])['survived'].mean() #survival rate by gender

In [ ]:
df.groupby(['who'])['survived'].mean().plot(kind='bar', title='Survival rate plot', color='green')

# Survival Rate Report


*   The category that belong to child had a survival rate of around 60%.
*   Sab se zyada survival rate women ka tha, jo ke numbers mei greator then 70% tha.

# Relationship

In [ ]:
# creata a correlation matrix only on int and float data from df
df[['age', 'fare']].corr()

In [ ]:
df.groupby('survived')[['age', "fare"]].mean()

In [ ]:
sns.scatterplot(x='age', y='fare', data=df, hue='class')